* {
    font-family: "Playwrite PE Guides", serif;
    font-weight: 400;
    font-style: normal;
}

.parent {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.title {
    font-size: 8em;
    color: #bfb65a;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.imgR, .imgL {
    height: 350px;
    width: 350px;
    background-repeat: repeat; /* Ensures the background repeats */
    background-size: contain;
    margin: 20px; /* Adds spacing between repeated elements */
    position: relative; /* Removes absolute positioning */
}


.imgR {
    position: absolute;
    align-self: flex-end;
    top: 0;
}

.imgL {
    position: absolute;
    align-self: flex-start;
    margin-left: 20px;
    bottom: 0;
    z-index: -1;
}

.staff-member {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 10px;
}

.staff-pic {
    height: 300px;
    margin-right: 20px;
}

.staff-info {
    max-width: 1000px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0.488);
    border-radius: 10px;
    padding: 20px;
    margin: 0 20px;
}

p {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0 20px;
}

@media (max-width: 844px) {
    * {
        justify-items: center;
    }

    .parent {
        width: 400px;
        height: auto;
    }

    .title {
        font-size: 2.2rem;
    }

    .alicia, .toni {
        height: 150px;
        margin: 10px 0;
        padding: 20px;
    }

    .imgR, .imgL{
        height: 100px;
        width: 100px;
        margin: 10px 0;
        margin: -40px;
    }

    .staff-member {
        padding: 0;
    }



    .staff-member {
        flex-direction: column;
        align-items: center;
    }

    .alicia-info, .toni-info {
        max-width: 200px;
        text-align: center;
    }

    p {
        font-size: 0.9rem;
    }
}

@media (max-width: 1297px) {
    
    .title {
        font-size: 7em;
    }

    .alicia, .toni {
        height: 250px;
        
        margin: 10px 0;
        padding: 10px;
    }

    .alicia-info, .toni-info {
        font-size: 0.8rem;
        max-width: 800px;
    }

}

@media (max-width: 1059px) {

    .title {
        font-size: 5em;
    }

    .alicia, .toni {
        height: 250px;
        
        margin: 10px 0;
        padding: 10px;
    }

    .alicia-info, .toni-info {
        font-size: 0.7rem;
        max-width: 600px;
    }
}