h1 {
  font-family: "Fredoka", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace <weight> with a valid value */
  font-style: normal;
  color: #bfb65a;
  font-variation-settings: "wdth" 100;
  text-align: center;
  font-size: 4em;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.home-page {
  border: black solid 5px;
  min-height: 50vh;
}

.our-story {
  border: black solid 5px;
  min-height: 600px;
}

.services {
  border: black solid 5px;
  min-height: 600px;
}

.logo {
  height: 600px;
  width: auto;
}

.list {
  font-size: 3em;
  padding: 50px;
}

li {
  margin-bottom: 80px;
}

.icon-container {
  display: flex;
  justify-content: center;
}

#icon {
  background-color: #bfb65a;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  margin: 30px;
}

#icon:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

#icon:active {
  transform: scale(0.9);
  transition: transform 0.2s;
}

.service-info,
.story-info {
  text-align: center;
  font-size: 1.5rem;
  margin: 100px;
}

.service-info {
  background-color: rgb(182, 182, 182);
  border-radius: 10px;
  padding: 5px;
}

.moving-box {
  background-color: gray;
  height: 300px;
  width: 300px;
  animation: slide-fwd-tr 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-fwd-tr {
  0% {
    opacity: 0%;
    transform: translateZ(0) translateY(0) translateX(0);
  }
  100% {
    opacity: 100%;
    transform: translateZ(160px) translateY(-100px) translateX(100px);
  }
}

@media (max-width: 900px) {
  .image-container {
    flex-direction: column;
    align-items: center;
  }
}
